// 全局样式

html, body, #app {
  width: 100%;
  height: 100%;
}
.weui-btn:after{
  border: none !important;
}

.jrh-primary-btn {
  border-radius: 99px!important;
  border: 1px solid #e86f3b!important;
  color: #fff !important;
  background-color: #eb8256 !important;
  &:active {
    background-color: rgba(206, 60, 57, 0.6)!important;
  }
}

.fs14{
  font-size: 14px !important;
}
.fs20{
  font-size: 20px !important;
}
.fs24{
  font-size: 24px !important;
}

// 覆盖vux全局样式
.vux-header{
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #eb8256 !important;
  .vux-header-left{
    a{
      color: #fff !important;
    }
    .left-arrow:before{
      border-color: #fff !important
    }
  }
}

// loading
.weui-toast{
  width: 40% !important;
}

// button
button.weui-btn{
  font-size: 14px;
}
