// 全局样式

$orange: #eb8256;

.orange{
  color: $orange;
}

html, body, #app {
  width: 100%;
  height: 100%;
}
.weui-btn:after{
  border: none !important;
}

.jrh-primary-btn {
  border-radius: 99px!important;
  border: 1px solid #e86f3b!important;
  color: #fff !important;
  background-color: #eb8256 !important;
  &:active {
    background-color: rgba(206, 60, 57, 0.6)!important;
  }
}
.c9{
  color: #999 !important;
}
.fs14{
  font-size: 14px !important;
}
.fs20{
  font-size: 20px !important;
}
.fs24{
  font-size: 24px !important;
}
.fs34{
  font-size: 34px !important;
}
.mr5{
  margin-right: 5px;
}
.mt5{
  margin-top: 5px;
}

// 覆盖vux全局样式
.vux-header{
  background-color: #eb8256 !important;
  .vux-header-left{
    a{
      color: #fff !important;
    }
    .left-arrow:before{
      border-color: #fff !important
    }
  }
}
.vux-header-back{
  font-size: 12px !important;
}
.vux-header-title{
  font-size: 14px !important;
}
// button
button.weui-btn{
  font-size: 14px;
}
// cell
.vux-label{
  font-size: 14px !important;
}
// panel
.weui-panel__hd{
  font-size: 14px !important;
  color: #333 !important;
}
.weui-panel__ft{
  .weui-cell_link{
    .weui-cell__bd{
      font-size: 12px;
      color: $orange;
    }
  }
}
.weui-cell__ft{
  font-size: 12px;
}